<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <% if yield_content(:title).blank? %>
      <title>August Lilleaas' blog</title>
    <% else %>
      <title><%= Sanitize.clean(yield_content(:title)) %> (August Lilleaas' blog)</title>
    <% end %>
    <%= stylesheet_link_tag "screen" %>
    <link href="/atom.xml" rel="alternate" title="August Lilleaas' blog" type="application/atom+xml">
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
