<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <% if yield_content(:title).blank? %>
      <title>August Lilleaas' blog</title>
    <% else %>
      <title><%= Sanitize.clean(yield_content(:title)) %> (August Lilleaas' blog)</title>
    <% end %>
    <%= stylesheet_link_tag "screen" %>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-9100016-2");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
