<% post.reload! %>
<% content_for(:title, post.title) %>
<a href="/">&laquo; Back</a>

<div id="article" class="article">
  <h1><%= post.title %></h1>
  <p class="timestamp">Published <%= post.display_date %></p>
  <%= post.body %>
</div>
